.product{
    width: 300px;
    height: 300px;
    
    text-align: center;
    margin: 20px;
    padding: 20px;
      
}
.describe{
    
    color: violet;
       
}
.product button{
    border: none;
    border-radius: none;

 
    cursor: pointer;
}
.product:hover{
    background-color: wheat;
    box-shadow:  gray;

    text-decoration:none;
    margin-right: 20px;
    padding:  1px;
    padding-left: 1px;
    padding-right: 1px;
}

