.picture{
    text-align: center;
}
.picture nav{
   
    
    line-height: 15px;
    font-size: 15px;}
nav a{
    text-decoration:none;
    margin-right: 20px;
    padding: 5px;
    color: red;
}
nav a:hover{
    background-color: gray;
}